service: calculadora-imposto-dev-remoto
frameworkVersion: '>=1.28.0 <2.0.0'

provider:
  name: aws
  profile: ${file(env.json):AWS_PROFILE}
  runtime: go1.x
  memorySize: 128
  timeout: 1

package:
  exclude:
    - ./**
  include:
    - ./bin/**

functions:
  function1:
    handler: bin/function1
    events:
      - http:
          path: /
          method: get
          cors: true
